.comments-list
  .articles-list-filter__panel
    height: 69px

  .clients-reviews
    padding 20px 0

    .clients-reviews__list
      margin-top 20px

      .review-item
        margin-bottom 20px
        padding 20px 0