

/* ----- PROFILE MAIN ----- */

.profile-main

  &__title
    background-color: $bg-black-2


.profile-contacts
  background-color: $bg-yellow-3
  text-align: center
  padding: 0 (20px * (310 / 720))
  background: url('../images/yellow-bg.png') top left repeat

  +bp('480')
    padding: 0 (20px * (470 / 720))

  +bp('768')
    padding: 0 20px

  +bp('1024')
    padding: 32px 0 0

  &__list
    margin: 0; padding: 10px 0 15px; list-style-type: none

    li
      &:not(:last-child)
        margin-bottom: 24px * (310 / 720)

        +bp('480')
          margin-bottom: 24px * (470 / 720)

        +bp('768')
          margin-bottom: 24px

      &[data-contacts='name']
        font-family: $ptsans-bold
        fsh(24px, 1.25)
        color: $font-red-1

      &[data-contacts='birth']
        font-family: $ptsans-regular
        fsh(18px, 1.25)
        color: $font-black-2

      &[data-contacts='mail']
        font-family: $ptsans-bold
        fsh(18px, 1.25)
        color: $font-red-1

      &[data-contacts='phone']
        font-family: $ptsans-bold
        fsh(24px, 1.25)
        color: $font-red-1

      &[data-contacts='more-phone']
        font-family: $ptsans-regular
        fsh(18px, 1.25)
        color: $font-regular

      &[data-contacts='address']
        font-family: $ptsans-regular
        fsh(18px, 1.25)
        color: $font-regular

  &__buttons
    padding: 20px 0
    text-align: center
    fs(0px)

  &__buttons-link
    display: block
    margin: 0 auto 20px

    &:last-of-type
      margin-bottom: 0

    +bp('1024')
      display: inline-block
      margin 0 20px 0 auto

      &:last-of-type
        margin: 0




.profile-badges
  position: relative
  padding: 0 (20px * (310 / 720))
  background-color: $bg-yellow-2

  +bp('480')
    padding: 0 (20px * (470 / 720))

  +bp('768')
    padding: 0 20px

  +bp('1024')
    padding: 32px 0 0

  &::before
    content: ''
    absolute: bottom 0 left 0
    size: 100% 65px
    background: url('../images/yellow-bg.png') top left repeat

  &__list
    margin: 0; padding: 15px 0 85px; list-style-type: none
    font-family: $ptsans-bold

    li
      color: $font-black-2
      text-align: center
      fsh(24px, 1.25)

      &:not(:last-child)
        margin-bottom: 34px * (310 / 720)

        +bp('480')
          margin-bottom: 34px * (470 / 720)

        +bp('768')
          margin-bottom: 34px

      span
        color: $font-red-1


.profile-coupons
  padding: 14px 0 24px
  background-color: $bg-yellow-3

  &__table
    width: 100%

    caption
      font-family: $ptsans-regular
      fsh(24px, 42px)
      color: $font-black-2

    thead
      background-color: $bg-red-1
      text-align: left
      font-family: $ptsans-bold
      color: $font-white-2
      fsh(10px, 1.25)

      +bp('480')
        fs(12px)

      +bp('768')
        fs(14px)

      +bp('1024')
        fs(24px)

    tbody
      font-family: $ptsans-regular
      color: $font-black-2
      fsh(10px, 1.25)

      +bp('480')
        fs(12px)

      +bp('768')
        fs(14px)

      +bp('1024')
        fs(24px)

      tr
        &:nth-child(even)
          background-color: $bg-orange-4

    th, td
      padding: 3px 5px

      +bp('768')
        padding: 8px 10px

      +bp('1024')
        padding: 10px 13px

      &:nth-child(1)
        width: (280 / 1200) * 100%

        +bp('1024')
          padding-left: 20px


      &:nth-child(2)
        display: none
        width: (120 / 1200) * 100%

        +bp('1024')
          display: table-cell


      &:nth-child(3)
        width: (150 / 1200) * 100%

      &:nth-child(4)
        width: (180 / 1200) * 100%

      &:nth-child(5)
        width: (180 / 1200) * 100%

      &:nth-child(6)
        width: (140 / 1200) * 100%

      &:nth-child(7)
        width: (150 / 1200) * 100%
        text-decoration: underline

        &[data-chosen]
          font-family: $ptsans-bold

        +bp('1024')
          padding-right: 20px


  &__add-new
    margin: 15px auto 0
    padding: 0 (20px * (310 / 720))
    fs(0px)

    +bp('480')
      padding: 0 (20px * (470 / 720))

    +bp('768')
      padding: 0 20px

    +bp('1024')
      margin: 25px 0 0 40px
      padding: 0
      text-align: left

    input[name='add-coupons-text']
      margin: 0 auto
      display: block

      +bp('1024')
        display: inline-block
        vertical-align: top

    input[name='add-coupons-submit']
      margin: 10px auto 0
      display: block

      +bp('1024')
        display: inline-block
        vertical-align: top
        margin: 0 0 0 20px



/* ----- end PROFILE MAIN ----- */



