
/* ----- FONTS ----- */

/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansRegular";
  src:  url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
  src:  url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"),
        url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
  font-family: "PTSansItalic";
  src:  url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot");
  src:  url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSans/PTSansItalic/PTSansItalic.woff") format("woff"),
        url("../fonts/PTSans/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
  font-family: "PTSansBold";
  src:  url("../fonts/PTSans/PTSansBold/PTSansBold.eot");
  src:  url("../fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"),
        url("../fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PTSansBoldItalic"; */
@font-face {
  font-family: "PTSansBoldItalic";
  src:  url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.eot");
  src:  url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.eot?#iefix")format("embedded-opentype"),
          url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.woff") format("woff"),
          url("../fonts/PTSans/PTSansBoldItalic/PTSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PTSansCaptionRegular"; */
@font-face {
  font-family: "PTSansCaptionRegular";
  src:  url("../fonts/PTSans-Caption/PTSansCaptionRegular/PTSansCaptionRegular.eot");
  src:  url("../fonts/PTSans-Caption/PTSansCaptionRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSans-Caption/PTSansCaptionRegular/PTSansCaptionRegular.woff") format("woff"),
        url("../fonts/PTSans-Caption/PTSansCaptionRegular/PTSansCaptionRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PTSansCaptionBold"; */
@font-face {
  font-family: "PTSansCaptionBold";
  src:  url("../fonts/PTSans-Caption/PTSansCaptionBold/PTSansCaptionBold.eot");
  src:  url("../fonts/PTSans-Caption/PTSansCaptionBold/PTSansCaptionBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSans-Caption/PTSansCaptionBold/PTSansCaptionBold.woff") format("woff"),
        url("../fonts/PTSans-Caption/PTSansCaptionBold/PTSansCaptionBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "PTSansNarrowRegular"; */
@font-face {
  font-family: "PTSansNarrowRegular";
  src:  url("../fonts/PTSans/PTSansNarrow/PTSansNarrowRegular/PTSansNarrowRegular.eot");
  src:  url("../fonts/PTSans/PTSansNarrow/PTSansNarrowRegular/PTSansNarrowRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSans/PTSansNarrow/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff"),
        url("../fonts/PTSans/PTSansNarrow/PTSansNarrowRegular/PTSansNarrowRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansNarrowBold"; */
@font-face {
  font-family: "PTSansNarrowBold";
  src:  url("../fonts/PTSans/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.eot");
  src:  url("../fonts/PTSans/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSans/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
        url("../fonts/PTSans/PTSansNarrow/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


// FONTELLO

@font-face {
  font-family: 'davai-gotovit';
  src: url('../fonts/fontello/davai-gotovit.eot?16730411');
  src: url('../fonts/fontello/davai-gotovit.eot?16730411#iefix') format('embedded-opentype'),
          url('../fonts/fontello/davai-gotovit.woff2?16730411') format('woff2'),
          url('../fonts/fontello/davai-gotovit.woff?16730411') format('woff'),
          url('../fonts/fontello/davai-gotovit.ttf?16730411') format('truetype'),
          url('../fonts/fontello/davai-gotovit.svg?16730411#davai-gotovit') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'davai-gotovit';
    src: url('../font/davai-gotovit.svg?81129709#davai-gotovit') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "davai-gotovit";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-vk:before { content: '\e800'; } /* '' */
.icon-ins:before { content: '\e801'; } /* '' */
.icon-feedback:before { content: '\e802'; } /* '' */
.icon-reload:before { content: '\e803'; } /* '' */
.icon-fb:before { content: '\e8b6'; } /* '' */
.icon-map-1:before { content: '\e8b7'; } /* '' */
.icon-cap:before { content: '\e8b8'; } /* '' */
.icon-google:before { content: '\e8bb'; } /* '' */
.icon-basket:before { content: '\e8bc'; } /* '' */
.icon-mail:before { content: '\e8be'; } /* '' */
.icon-tw:before { content: '\e8bf'; } /* '' */
.icon-delivery:before { content: '\e8c0'; } /* '' */
.icon-skype:before { content: '\e8c2'; } /* '' */
.icon-pan:before { content: '\e8c4'; } /* '' */
.icon-pi:before { content: '\e8c6'; } /* '' */
.icon-phone-1:before { content: '\e8c8'; } /* '' */
.icon-delete:before { content: '\e8c9'; } /* '' */
.icon-phone:before { content: '\e8ca'; } /* '' */
.icon-close:before { content: '\e8cb'; } /* '' */
.icon-user:before { content: '\e8cc'; } /* '' */
.icon-user-1:before { content: '\e804'; } /* '' */
.icon-card:before { content: '\e8cd'; } /* '' */
.icon-clock:before { content: '\e8ce'; } /* '' */
.icon-map:before { content: '\e8cf'; } /* '' */
.icon-cart:before { content: '\e8d0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */

// end FONTELLO

/* ----- end FONTS ----- */