
/* ----- FONT SIZES ----- */

$base-font-size   = 16px
$base-line-height = 1
$base-font-weight = normal

/* ----- end FONT SIZES ----- */


/* ----- FONT FAMILIES ----- */

// Sans-serif

$arial         = 'Arial', 'sans-serif'
$calibri       = 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif'
$candara       = 'Candara', 'Calibri', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif'
$courier       = 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace'
$franklin      = 'Franklin Gothic Medium', 'Arial', 'sans-serif'
$futura        = 'Futura', 'Trebuchet MS', 'Arial', 'sans-serif'
$geneva        = 'Geneva', 'Tahoma', 'Verdana', 'sans-serif'
$gill-sans     = 'Gill Sans', 'Gill Sans MT', 'Calibri', 'sans-serif'
$helvetica     = 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'
$lucida-grande = 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', 'Verdana', 'sans-serif'
$optima        = 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', 'sans-serif'
$segoe         = 'Segoe', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif'
$tahoma        = 'Tahoma', 'Geneva', 'Verdana', 'sans-serif'
$trebuchet     = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Tahoma', 'sans-serif'
$verdana       = 'Verdana', 'Geneva', 'sans-serif'


// Serif

$antiqua       = 'Book Antiqua', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif'
$baskerville   = 'Baskerville', 'Baskerville old face', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif'
$bodoni        = 'Bodoni MT', 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif'
$cambria       = 'Cambria', 'Georgia', 'serif'
$caslon        = 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', 'Georgia', 'serif'
$constantia    = 'Constantia', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif'
$didot         = 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif'
$garamond      = 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif'
$georgia       = 'Georgia', 'Times', 'Times New Roman', 'serif'
$goudy         = 'Goudy Old Style', 'Garamond', 'Big Caslon', 'Times New Roman', 'serif'
$hoefler       = 'Hoefler Text', 'Baskerville old face', 'Garamond', 'Times New Roman', 'serif'
$lucida-bright = 'Lucida Bright', 'Georgia', 'serif'
$palatino      = 'Palatino', 'Palatino Linotype', 'Palatino LT STD', "Book Antiqua", 'Georgia', 'serif'

$ptsans-regular = 'PTSansRegular', sans-serif
$ptsans-bold = 'PTSansBold', sans-serif
$ptsans-italic = 'PTSansItalic', sans-serif
$ptsans-bold-italic = 'PTSansBoldItalic', sans-serif
$ptsans-narrow-regular = 'PTSansNarrowRegular', sans-serif
$ptsans-narrow-bold = 'PTSansNarrowBold', sans-serif
$ptsans-caption-regular = 'PTSansCaptionRegular', sans-serif
$ptsans-caption-bold = 'PTSansCaptionBold', sans-serif
// SETTING YOUR FONT FAMILIES VARIABLES

$base-font-family = $ptsans-caption-regular

// FONTELLO

$fontello = 'davai-gotovit'

$icon-phone     = '\e8ca'
$icon-user-1    = '\e8cc'
$icon-user-2    = '\e804'
$icon-cart    = '\e8d0'
$icon-cw        = '\e8bf'
$icon-fb        = '\e8b6'
$icon-google    = '\e8bb'
$icon-tw        = '\e8bf'
$icon-linkedin  = '\f0e1'
$icon-pinterest = '\e8c6'
$icon-vk        = '\e800'
$icon-instagram = '\e801'
$icon-map       = '\e8cf'
$icon-clock     = '\e8ce'
$icon-phone-1   = '\e8c8'
$icon-skype     = '\e8c2'
$icon-mail      = '\e8be'
$icon-feedback  = '\e802'
$icon-reload    = '\e803'
$icon-delete    = '\e8c9'
$icon-cap       = '\e8b8'
$icon-basket    = '\e8bc'
$icon-delivery  = '\e8c0'
$icon-pan       = '\e8c4'


/* ----- end FONT FAMILIES ----- */


/* ----- COLORS ----- */

// MAIN COLORS

$base-bg-color = #fff

$bg-white-1 = #fcefde

$bg-blue-1 = #4b6daa
$bg-blue-2 = #537599
$bg-blue-3 = #2d5b81

$bg-green-1 = #65b145
$bg-green-2 = #1d5137
$bg-green-3 = #0a2229
$bg-green-4 = #133f4b
$bg-green-5 = #1d5238
$bg-green-6 = #40813d
$bg-green-6-gradient = linear-gradient(to right, rgba(30,83,54,1) 0%, rgba(100,174,68,1) 100%)
$bg-green-7 = #1b5238

$bg-orange-1 = #ea9c1f
$bg-orange-2 = #c45118
$bg-orange-3 = #ea9c1e
$bg-orange-4 = #fed7ad
$bg-orange-5 = #f4c98c
$bg-orange-6 = #ea9d23
$bg-orange-7 = #f2b968
$bg-orange-8 = #eb9d21

$bg-yellow-1 = #fcf0dd
$bg-yellow-2 = #fcefdf
$bg-yellow-3 = #fcf0de
$bg-yellow-4 = #fcefde
$bg-yellow-5 = #ffd8ad
$bg-yellow-6 = #ffd8ae

$bg-red-1 = #a01c2f
$bg-red-2 = #a0152d
$bg-red-3 = #a0152c
$bg-red-4 = #6d0f31
$bg-red-5 = #a11c2f

$bg-black-1 = #0a2229
$bg-black-2 = #0a232a

$bg-gray-1 = #c9c9c9
$bg-gray-2 = #e5e5e5
$bg-gray-4 = #f1f1f1
$bg-gray-5 = #c7b8a1
$bg-gray-6 = #e1e1e1
$bg-gray-7 = #f7f7f7


// FONT COLORS

$base-font-color = #000

$font-white-1 = #fff
$font-white-2 = #fcefdf
$font-white-3 = #efc29b

$font-yellow-1 = #ffd8af
$font-yellow-2 = #ffd8ae
$font-yellow-3 = #fed7ac
$font-yellow-4 = #ffd8ad
$font-yellow-5 = #fbb040

$font-orange-1 = #ea9c1e

$font-blue-1 = #2187a5

$font-green-1 = #1d5137
$font-green-2 = #65b145

$font-red-1 = #a01c2f
$font-red-2 = #a0152c
$font-red-3 = #a0152d

$font-black-1 = #0a2229
$font-black-2 = #0c232a

$font-gray-1 = #c9c9c9
$font-gray-2 = #666
$font-gray-3 = #838383

/* ----- end COLORS ----- */