
/* ----- FOOTER STYLES ----- */

.footer

  &__section-1
    display: none

    +bp('1024')
      display: block

  &__section-2
    display: none

    +bp('1024')
      display: block

  &__section-3
    dispay: block


.additional-info
  background-color: $bg-black-1

  &__list
    margin: 0; padding: 0; list-style-type: none
    text-align: center
    fs(0px)

  &__item
    display: inline-block
    margin: 0 22px

    a
      display: inline-block
      fsh(13px, 76px)
      text-transform: uppercase
      text-decoration: none
      color: $font-white-1

      &:hover
        text-decoration: underline





.social-info
  background: $bg-black-1 url('../images/dark-bg.png') top left repeat

  &__list
    margin: 0; padding: 25px 0 20px; list-style-type: none
    text-align: center
    fs(0px)

    // YANDEX SHARE

    .ya-share2__container_size_m .ya-share2__item
      margin-right: 30px !important

    .ya-share2__badge
      border-radius: 0 !important
      background-color: transparent !important

    .ya-share2__container_size_m .ya-share2__icon
      background: none !important
      width: 110px !important
      height: 30px !important

    .ya-share2__container_size_m .ya-share2__counter
      display: none !important

    .ya-share2__container_size_m .ya-share2__item_service_facebook .ya-share2__icon,
    .ya-share2__container_size_m .ya-share2__item_service_vkontakte .ya-share2__icon,
    .ya-share2__container_size_m .ya-share2__item_service_gplus .ya-share2__icon,
    .ya-share2__container_size_m .ya-share2__item_service_odnoklassniki .ya-share2__icon
      &::before
        display: inline-block
        font-family: $arial
        fsh(10px, 30px)
        font-weight: 400
        text-transform: uppercase


  .ya-share2__container_size_m .ya-share2__item_service_facebook .ya-share2__icon
    background-color: #3b5998 !important

    &::before
      content: 'facebook'

  .ya-share2__container_size_m .ya-share2__item_service_vkontakte .ya-share2__icon
    background-color: #48729e !important

    &::before
      content: 'вконтакте'

  .ya-share2__container_size_m .ya-share2__item_service_gplus .ya-share2__icon
    background-color: #dc4e41 !important

    &::before
      content: 'google +'

  .ya-share2__container_size_m .ya-share2__item_service_odnoklassniki .ya-share2__icon
    background-color: #ffbd00 !important

    &::before
      content: 'одноклассники'

    // end YANDEX SHARE

  &__item
    display: inline-block
    margin: 0 15px
    font-family: $arial
    fsh(10px, 30px)
    font-weight: 400

    &[data-social='facebook'] a
      width: 130px
      background-color: $bg-blue-1

    &[data-social='vkontakte'] a
      width: 130px
      background-color: $bg-blue-2

    &[data-social='instagram'] a
      width: 130px
      background-color: $bg-blue-3

    &[data-social='livejournal'] a
      width: 92px
      background-color: $bg-green-1

    a
      display: inline-block
      text-transform: uppercase
      text-decoration: none
      color: $font-white-1

    span
      position: relative
      display: inline-block
      margin-left: 10px
      padding: 0 5px
      background-color: $bg-gray-1
      color: $font-gray-2
      user-select: none

      &::before
        content: ''
        absolute: top 50% left -6px
        transform: translateY(-50%) rotate(360deg)
        size: 0
        border-style: solid
        border-width: 6px 7px 6px 0
        border-color: transparent $bg-gray-1 transparent transparent

.copy-info
  js-display: flex; display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100px * (310 / 720)
  background-color: $bg-green-1
  fsh(24px * (310 / 720), 1.25)
  color: $font-black-1

  +bp('480')
    height: 100px * (470 / 720)
    fs(24px * (470 / 720))

  +bp('768')
    height: 100px
    fs(24px)

  +bp('1024')
    flex-direction: row
    height: 68px
    fs(14px)

/* ----- end FOOTER STYLES ----- */