
/* ----- FOOTER STYLES ----- */

.footer

  &__section-1
    display: none

    +bp('1024')
      display: block

  &__section-2
    display: none

    +bp('1024')
      display: block

  &__section-3
    dispay: block


.additional-info
  background-color: $bg-black-1

  &__list
    margin: 0; padding: 0; list-style-type: none
    text-align: center
    fs(0px)

  &__item
    display: inline-block
    margin: 0 22px

    a
      display: inline-block
      fsh(13px, 76px)
      text-transform: uppercase
      text-decoration: none
      color: $font-white-1

      &:hover
        text-decoration: underline


.social-info
  background: $bg-black-1 url('../images/dark-bg.png') top left repeat

  &__list
    display block
    margin: 0; padding: 25px 0 20px; list-style-type: none
    text-align: center
    fs(0px)

  &__item
    display: inline-block
    margin: 0 45px 0 15px
    width: 110px
    cursor pointer
    position relative

    .social-likes__button
      font-family: $arial
      fsh(10px, 30px)
      font-weight: 400
      text-decoration none
      text-transform uppercase
      color #fff

    .social-likes__icon
      display none

    .social-likes__counter
      position absolute
      right -40px
      top 0
      display: inline-block
      min-width: 30px
      height: 30px
      margin-left: 10px
      padding: 0 5px
      background-color: #c9c9c9
      font-family: Arial,'sans-serif'
      font-size: 10px
      line-height: 30px
      color: #666
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none

      &:before
        margin: 0
        content: ''
        position: absolute
        top: 50%
        left: -6px
        -webkit-transform: translateY(-50%) rotate(1turn)
        -moz-transform: translateY(-50%) rotate(1turn)
        -o-transform: translateY(-50%) rotate(1turn)
        -ms-transform: translateY(-50%) rotate(1turn)
        transform: translateY(-50%) rotate(1turn)
        width: 0
        height: 0
        border-style: solid
        border-width: 6px 7px 6px 0
        border-color: transparent #c9c9c9 transparent transparent
        background: none

  .social-likes__widget_facebook
      background-color: $bg-blue-1

  .social-likes__widget_vkontakte
      background-color: $bg-blue-2

  .social-likes__widget_odnoklassniki
      background-color: $bg-orange-1

  .social-likes__widget_plusone
      background-color: #dc4e41

.copy-info
  js-display: flex; display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100px * (310 / 720)
  background-color: $bg-green-1
  fsh(24px * (310 / 720), 1.25)
  color: $font-black-1

  +bp('480')
    height: 100px * (470 / 720)
    fs(24px * (470 / 720))

  +bp('768')
    height: 100px
    fs(24px)

  +bp('1024')
    flex-direction: row
    height: 68px
    fs(14px)

/* ----- end FOOTER STYLES ----- */