.h-hidden
  display none !important

.order-edit__address-input + .order-edit__address-input
  margin-top 20px

.h-button-danger
  background-color $bg-red-3!important
  color $font-yellow-4

.h-margin-right-10
  margin-right 10px

.h-margin-right-20
  margin-right 20px

.h-margin-left-10
  margin-left 10px

.h-margin-left-20
  margin-left 20px

.h-pointer
  cursor pointer

.h-block
  display: block

.h-flex
  display: flex

.h-center
  text-align center

.h-clearfix
  clear both

.h-float-left
  float left

.h-float-right
  float right

// subscribe table
.subscribe-table
  overflow hidden
  transition height 1s
  .subscribe-table__functional
    +bp('1024')
      width: 50% !important

.subscribe-table + .profile-contacts
  padding-top 0 !important

.h-card-form
  .h-number-label
    line-height 20px !important
  small
    font-size 12px

.h-subscribes-form-show-all
  font-size 14px
  cursor pointer
  height 30px
  line-height 30px

.h-no-user-cards
  display inline-block !important
  margin 30px auto !important

.subscribe-table__row.h-no-user-cards
  background none !important
  background-color none !important

//404
.h-404
  display flex
  width 100%
  height 100%
  background url("../images/let-cook-bg.jpg") center center no-repeat
  background-size cover
  color #fff !important
  text-align center
  .main
    vertical-align middle
    width 50%
    margin 0 auto
    display flex
    flex-wrap wrap
    justify-content center
    align-self center
  .h-main-title
    width 100%
    font-size 170px
    margin 0 0 30px 0
  .let-cook__subTitle
    font-size 36px !important
    margin-bottom 15px
  .black-long-button
    margin-top 30px

//not available basket
.not-available
  .let-cook__subTitle
    text-transform: none

//user cards
.h-no-user-cards
  margin-bottom 40px
  margin-top 40px

.subscribe-table
  .h-card-number-col
    span
      display inline-block
    .card-cvv
      text-decoration 13px !important
      text-transform lowercase
      margin-left 10px
      text-decoration dashed
      cursor pointer

.h-dates
  .h-half-input
    width 45%

.h-half-input + .h-half-input
  float right

.h-half-button
  width 50%

.h-card-form-section__save,
.h-card-form-section__cancel
  display inline-block
  padding: 0 40px
  width: auto

.h-card-form-section__cancel
  margin-left 25px

//payment form
#payment_form
  display none

//card connect form
#payment_connect_form
  display none

//order page
.ordered-items-spliter
  float none
  height: 1px
  margin 0
  padding 0

.order-submit__item
  &:not(:last-of-type)
    &.order-submit__item_main
      &::after
        content none!important

.additional-basket-item
  &:last-of-type
    &::after
      content none!important

//5xx page
.h-500-title
  text-transform none
  line-height 48px

//invite friend block in profile
.invite-friend-block
  margin-top 30px
  padding-top 15px
  position relative

  &:before
    content ""
    background-color: $bg-yellow-3
    height 30px
    width 100%
    top: -30px
    left: 0
    position absolute
    display: block

  .code
    font-size 35px !important