.h-hidden
  display none!important

.order-edit__address-input+.order-edit__address-input
  margin-top 20px

.h-button-danger
  background-color $bg-red-3!important
  color $font-yellow-4

.h-margin-right-20
  margin-right 20px

.h-pointer
  cursor pointer

// subscribe table
.subscribe-table
  overflow hidden
  transition height 1s

.h-subscribes-form-show-all
  font-size 14px
  cursor pointer
  height 30px
  line-height 30px

//404
.h-404
  display flex
  width 100%
  height 100%
  background url("../images/let-cook-bg.jpg") center center no-repeat
  background-size cover
  color #fff !important
  text-align center
  .main
    vertical-align middle
    width 50%
    margin 0 auto
    display flex
    flex-wrap wrap
    justify-content center
    align-self center
  .h-main-title
    width 100%
    font-size 170px
    margin 0 0 30px 0
  .let-cook__subTitle
    font-size 36px !important
    margin-bottom 15px
  .black-long-button
    margin-top 30px